
JVida_BGLL/.vscode/c_cpp_properties.json
JVida_BGLL/.vscode/launch.json
JVida_BGLL/.vscode/settings.json
JVida_BGLL/.vscode/tasks.json
JVida_BGLL/JVida_BGLL_Projeto.exe
JVIDA-BGLL/.vscode/c_cpp_properties.json
JVIDA-BGLL/.vscode/launch.json
JVIDA-BGLL/.vscode/settings.json
JVIDA-BGLL/.vscode/tasks.json
